/* Full background ke liye */
.background {
    
    position: relative;
    height: 1300px;
    width: 100%;
    float: left;
    /*overflow: hidden;*/
}

/* Header aur title */
.head {
    background-color: white;
    height: 155px;
    width: 100%;
    float: left;
    margin-left:;
    
}

.logo {
   
    height: 170px;
    float: left;
    width: 500px;
    
    
}

.box {
  
    height: 350px;
    width: 350px;
    float: left;
    margin-top: 100px;
    margin-left: 50px;
    box-shadow: 10px 0px 18px 9px rgba(0, 0, 0, 0.91);
}

.title {
    
    height: 70px;
    width: 270px;
    margin-left: 10px;
    margin-top: 45px;
    float: left;
    
    
    
}

.description {
    background-color: white;
    height: 50px;
    width: 350px;
    color: black;
    font-size: 40px;
    box-shadow: 12px 7px 14px 5px rgba(0, 0, 0, 0.51);
}

.myinfo{
   
    margin-left: 950px;
    width: 230px;
    margin-top: 40px;
    
}