@page
@model StudentManagement.Pages.showstudent

<div class="row justify-content-center">
    <div class="col-md-12 justify-content-center">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">FatherName</th>
                <th scope="col">Class</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Semester</th>
                <th scope="col">Rollno</th>
                <th scope="col" colspan="2">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>habib</td>
                <td>abdul khaliq</td>
                <td>bscs</td>
                <td>email</td>
                <td>phone</td>
                <td>semester</td>
                <td>RollNo</td>
                <td>
                    <button type="submit" class="btn btn-success">Edit</button>
                </td>
                <td>
                    <button type="submit" class="btn btn-warning">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>